                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h5>Preview</h5>
                        </div>

                        <div class="card-body hidden" id="preview-client">
                            <div class="card mb-3" id="Client" style="max-height: 300px;">
                                <div class="row g-0">
                                    <div class="col-md-3 d-flex align-items-center">
                                    <img src="{{ asset('imgs/picto-client.svg') }}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-1 bg-info"  style="width:1em"></div>
                                    <div class="col-md-8">
                                        <div class="card-header">
                                            <h5 class="card-title  text-center">Client</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <strong>ID Client:</strong> <span id="preview-id-client"></span><br>
                                                <strong>Raison Sociale:</strong> <span id="preview-raison-sociale"></span><br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body hidden" id="preview-secheuse">
                            <div class="card mb-3" id="Secheuse" style="max-height: 350px;">
                                <div class="row g-0">
                                    <div class="col-md-3 d-flex align-items-center">
                                    <img src="{{ asset('imgs/secheuse/secheuse.jpg') }}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-1 bg-warning"  style="width:1em"></div>
                                    <div class="col-md-8">
                                        <div class="card-header">
                                            <h5 class="card-title  text-center">Sécheuse</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <strong>Quantité:</strong> <span id="preview-quantite"></span><br>
                                                <strong>Type Secheuse:</strong> <span id="preview-type-secheuse"></span><br>
                                                <strong>Type Plancher:</strong> <span id="preview-type-plancher"></span><br>
                                                <strong>Type Reprise:</strong> <span id="preview-type-reprise"></span><br>
                                                <strong>Débit Reprise:</strong> <span id="preview-debit-reprise"></span><br>
                                                <strong>Type Module:</strong> <span id="preview-type-module"></span><br>
                                                <strong>Gaz:</strong> <span id="preview-gaz"></span><br>
                                                <strong>Biomasse:</strong> <span id="preview-biomasse"></span><br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body hidden" id="preview-options">
                            <div class="card mb-3" id="Options" style="max-height: 300px;">
                                <div class="row g-0">
                                    <div class="col-md-3 d-flex align-items-center">
                                    <img src="{{ asset('imgs/picto-options.svg') }}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-auto bg-primary" style="width:1em"></div>
                                    <div class="col-md-8">
                                        <div class="card-header">
                                            <h5 class="card-title  text-center">Options</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <strong>Vis Brassage supp:</strong> <span id="preview-vis-brassage"></span><br>
                                                <strong>Pré-néttoyeur:</strong> <span id="preview-prenettoyeur"></span><br>
                                                <strong>B2D:</strong> <span id="preview-b2d"></span><br>
                                                <strong>Debit vis:</strong> <span id="preview-debit-vis"></span><br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body hidden" id="preview-card-vis-mobile">
                            <div class="card mb-3" id="VisMobile" style="max-height: 300px;">
                                <div class="row g-0">
                                    <div class="col-md-3 d-flex align-items-center">
                                        <img src="{{ asset('imgs/Vis Mobile.png') }}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-auto bg-success" style="width:1em"></div>
                                    <div class="col-md-8">
                                        <div class="card-header">
                                            <h5 class="card-title  text-center">Vis Mobile</h5>
                                        </div>
                                    <div class="card-body">
                                            <p class="card-text">
                                                <strong>Vis Mobile:</strong> <span id="preview-vis-mobile"></span><br>
                                                <strong>Sortie Orientable:</strong> <span id="preview-sortie-orientable"></span><br>
                                                <strong>Bac :</strong> <span id="preview-bac"></span><br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   

                    </div>

                    