{% extends 'base.html.twig' %}

{% block title %}Hello AsanaController!{% endblock %}

{% block body %}

    <h1>Liste des projets Asana</h1>

    <ul>
        <li>(ID: {{ usergid }})</li>
    </ul>
    
{% endblock %}
