                    <div class="mb-3">
                        {{ form_label(demandeCommercialeForm.secheuse.VIS_MOBILE, 'Vis Mobile', {'label_attr': {'class': 'mb-2 text-muted'}}) }}
                        {{ form_widget(demandeCommercialeForm.secheuse.VIS_MOBILE, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(demandeCommercialeForm.secheuse.VIS_MOBILE) }}
                    </div>
